<!DOCTYPE html>

<!--
Mohammed A Lee - Mohammed Uddin and Thomas Lee
SoftDev1 pd6
K14 -- Do I Know You?
2018-10-01
-->


<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action="/auth">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">    <!-- normal login form stuff, carry on -->
      <input type="submit" value="Login">
    </form>
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    {{each}}
    <br>
    {% endfor %}
  </body>
</html>
